body{
background-color:lightblue ;
}
#tip-1{
font-size: x-large;
color: rgb(59, 2, 59);
}
#btn-1{
font-size: x-large;
color: red;
background-color: yellow;
}
#btn-2{
font-size: x-large;
background-color: yellow;
}
#tip-4{
font-size: x-large;
}
#tip-5{
font-size: x-large;

}
#img-2{
width: 400;
height: 400;
            }
            #main{
                width: 400;
                height: 300;}
#tip-6{
font-size: x-large;
}
#img-3{
width: 500;
height: 400;
}
#btn-5{
font-size: x-large;
background-color: yellow;
}
#btn-3{
font-size: x-large;
background-color: yellow;
}
#btn-4{
font-size: x-large;
background-color: yellow;
}
#btn-6{
font-size: x-large;
background-color: yellow;
}
#tip-12{
font-size: x-large;
color: red;
}
#tip-13{
font-size: x-large;
color: green;}
#tip-14{
font-size: x-large;
color: brown;}
#tip-15{
font-size: x-large;
color: slateblue;}
#tip-16{
font-size: x-large;
color: rgb(212, 21, 187);}
#btn-7{
    font-size: x-large;
    background-color: yellow;
}
   
#btn-8{
font-size: x-large;
background-color: yellow;}
#btn-9{
font-size: x-large;
background-color: yellow;}
#tip-17{
font-size: x-large;
color:red;}
#tip{
font-size: x-large;
color:green;}
#btn-10{
font-size: x-large;
background-color: yellow;}
#btn-11{
font-size: x-large;
background-color: yellow;}
#btn-12{
font-size: x-large;
background-color: yellow;}
#btn-13{
    font-size: x-large;
    background-color: yellow;}
#btn-14{
font-size: x-large;
background-color: yellow;}
#btn-15{
    font-size: x-large;
    background-color: yellow;}
    #btn-16{
        font-size: x-large;
        background-color: yellow;}